@charset "utf-8";

@font-face {
    font-family: 'SF-Display';
    src: url(SF-Pro-Display-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: 'SF-Display';
    src: url(SF-Pro-Display-Medium.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'SF-Display';
    src: url(SF-Pro-Display-Regular.woff);
    font-weight: normal;
}
@font-face {
    font-family: 'SF-Text';
    src: url(sf-pro-text-bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: 'SF-Text';
    src: url(sf-pro-text-medium.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'SF-Text';
    src: url(sf-pro-text-regular.woff);
    font-weight: normal;
}

/* font and weight */
h1 {
    font-family: 'SF-Display';
    font-size: 72px;  
    font-weight: bold;
    line-height: inherit;
    margin: 0;
    color: white;
}

h3 {
    font-family: 'SF-Display';
    font-size: 34px;
    font-weight: bold;
    line-height: inherit;
    margin: 0;
  }

.medium, .medium1 {
    font-weight: 500;
}

nav {
    font-family: 'SF-Display';
    font-size: 18px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    display:inline-block;
    font-family: 'SF-Display';
    padding: 0px 20px;
    font-size: 20px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}

p {
    color: white;
    font-family: 'SF-Display';
    font-size: 30px;
    font-weight: normal;
    line-height: 150%;
    margin: 0;
}

nav {
    text-decoration: none;
    color: inherit;
}

/* logo */

.logo {
    cursor: pointer;
    margin-right: auto;
    
}

.logo1 {
    float: left
}







/* colors  */
/* * {
    color: black;
    font-family: 'SF-Text','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */




a {
    text-decoration: none;
    color: inherit;

}
.sidebyside a:visited, .sidebyside a:link {
    color: orange;

}

.sidebyside a:active, .sidebyside a:hover {
    color:rgb(170, 116, 0) ;

}

nav a:visited {
    color: rgb(136, 135, 134);
} 
nav a:hover {
    color: black ;

}

.me {
    border-radius: 100em;
    float: right;
    
}


/* 
#client a:active, #client a:hover{
    color:aqua ;
}
I want to change the Client Systems link to blue!
*/

/* header */

header {
    background-color: rgba(223, 216, 216, 0.062);
    
    backdrop-filter: blur(5px);
}
.medium1 {
    float: left;
    margin-left: 20px;

    color: white;
}


/* space between */


/* body {
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;


} */

html {
    margin: 0.2vw 0vw;;


}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid {
    padding-left: 158px;
    padding-right: 158px;
}

.space {
    padding-bottom: 3em;
}

/* main spaceing */

.main2 {
    margin-left: 10%;
    margin-right: 10%;
    
}


.main1 {
    margin-top: 55%;

    margin-left: 10%;
    margin-right: 10%;
}


.top {
    margin-bottom: 3em;
}

.sidebyside {
	display: flex;
	justify-content: space-between;

}

.right {
    margin-right: 10%;
    margin-left: 10%;

    margin-top: auto;
    margin-bottom: auto;
}

/* .me {
    
    margin-left: 20%;
    margin-right: 20%;
    
} */

.sidebyside3 {
    margin-top: 5%;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    margin-bottom: 7em;
}


.sidebyside2 {

    margin-top: 50%;

	display: flex;
    margin-bottom: 7em;
}

.right2 {
    margin-left: 3em;
}

.left2 {
    margin-top: 2em;
}

.left3 {
    margin-top: 1em;
    margin-left: 1px;
}
/* Footer */

footer p {
    line-height: 4em;
    color: gray;
}

footer a:visited, footer a:link {
    color: gray;

}

footer a:active, footer a:hover {
    color: black;

}

/* icons */

.icons {
    display: inline-block;
    margin-left: 0.4vw;
    height: 1.5em;
    opacity: 0.51;
    transition: 0.28s;

  }

  footer {
    margin-top: 10%;
    display: flex;
	justify-content: space-between;

    margin-left: 2%;
    margin-right: 2%;
	
  }

  footer > p {
    

        line-height: 0%;
        margin: 0;
    
  }
  
  .icons:hover {
    opacity: 1;
    transition: 0.28s;
  }


html {
    background-color: rgb(20, 20, 20);
}


/* Motion/movement */

.a-logo {
    -webkit-transition: -webkit-transform 1s;
}

.a-logo:hover{
    -webkit-transform: rotate(360deg) translate(0);
}

.shake:hover{
    -webkit-animation:shake .1s ease-in-out
    .1s infinite alternate;
}
@-webkit-keyframes shake{
    from{
        -webkit-transform:rotate(-15deg);
        -webkit-transform-origin: center
        center;
    }
}


/* video */

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }   
}

